# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# Data
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Misc
*.bak
*.swp
